- var base_url = 'https://domeproject.space'
- var title = 'DOME - Drone Operations for Martian Environment'
- var description = 'The DOME Project (Drone Operations for Martian Environment) is a'
- description += ' research group, built between universities and companies which'
- description += ' aims at developing new remote and autonomous operated aerial'
- description += ' platforms for the Environment of the Mars surface.'
- description += ' Aerial drone platforms are a cutting-edge technology asset in a'
- description += ' huge range of human operations such as medical, firefighting and'
- description += ' military scenarios. In extraplanetary exploration, aerial drone'
- description += ' platforms can cover the operational conditions that meet both the'
- description += ' high precision capabilities of surface rovers and the extensive'
- description += ' areas coverage capabilities typical of orbital operations.'
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(viewport='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(property='og:type', content='website')
    meta(property='og:url', content=base_url)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:image', content=base_url + '/' + require('./assets/dome_logo.png'))
    link(rel='shortcut icon', type='image/png', href=require('./assets/favicon.png'))
    title= title
  body
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .vertical-center#logo-container
      .container
        div
          img.img-fluid(src=require('./assets/dome_logo.png'), alt='DOME')
        h1 Drone Operations for<br />Martian Environment

    .vertical-center.section.reverse#project-container
      .container
        h3.title The DOME project
        .row
          .col-12.col-lg-6.col-text
            p
              | The DOME Project (Drone Operations for Martian Environment) is a
              | research group, built between universities and companies which
              | aims at developing new remote and autonomous operated aerial
              | platforms for the Environment of the Mars surface.<br/>
              | Aerial drone platforms are a cutting-edge technology asset in a
              | huge range of human operations such as medical, firefighting and
              | military scenarios. In extraplanetary exploration, aerial drone
              | platforms can cover the operational conditions that meet both the
              | high precision capabilities of surface rovers and the extensive
              | areas coverage capabilities typical of orbital operations.
            p
              | In almost 60 years of human exploration of Mars, we tested a wide
              | range of technologies on its surface, using platforms as Rovers,
              | probes and orbiters. Mars is the planets with the biggest robot
              | population in the solar system.<br/>
              | Right now the most realistic strategy for a sustainble human
              | presence on Mars is through the ISRU (In Situ Resources Utilization),
              | which use can significantly reduce the need of continous resupply
              | missions from earth.<br/>
              | Until we explored less then the 1% of the Mars surface. We need
              | new platforms to rapidly increase our exploration capabilities if we
              | want to seriously boost the first human missions.
          .col-12.col-lg-6.col-pic
            img.img-fluid(src=require('./assets/foto_mars.png'))

    .vertical-center.section#technology-container
      .container
        h3.title Technology
        .row
          .col-12.col-lg-6.col-pic
            img.img-fluid(src=require('./assets/foto_drone.png'))
          .col-12.col-lg-6.col-text
            p
              | Aerial Drone technology has evolved faster and faster during the
              | last years thanks to its recognised value for the automation of
              | human activities. Hardware miniaturization and high efficiency
              | of machine learning protocols, brought this technology
              | to a fundamental role in high-risks scenarios.<br/>
              | Mars, thanks to its similarity with the Earth in terms of planetary
              | environmental condition, represents a total new ground to expand
              | the boundaries of this technology.<br/>
              | Aerial drones can become a fundamental subsystem of every
              | human activity on Mars: logistics, safety inspections, surface
              | mapping and multispectral analysis can be safely left to
              | swarms of autonomous flying drones.
            p The DOME project research background is focused on:
            ul
              li Deep learning algorithm
              li Solar power management
              li Object Tracking and obstacle avoidance
              li Human-Machine Interaction
              li Swarming
              li Flight attitude in Mars atmosphere
              li Remote sensing
              li Aerial mapping

    .vertical-center.section.reverse#research-container
      .container-fluid
        h3.title Research
        #research-carousel.carousel.slide(data-keyboard='false', data-pause='true')
          ol.carousel-indicators.d-xl-none
            li.active(data-target='#research-carousel', data-slide-to='0')
            li(data-target='#research-carousel', data-slide-to='1')
          .carousel-inner
            .carousel-item.active
              .container
                .row
                  .col-12.col-lg-6.col-text
                    p X-5 VTOL MAPPING DRONE
                    p
                      | The X-5 Drone is an experimental concept for an autonomous
                      |  aerial platform designed to complement the firsts human crews on
                      | the martian surface. The X-5 is powered by lightweights flexible
                      | double-junction solar panels, that assure a dawn-sunset flight
                      | autonomy. Thanks to its VTOL capabilities, the Drone can autonomously
                      | take off and reach the mission objectives without the need
                      | for a direct control from the crew.
                    p
                      | The X-5 Payload is composed by 2 cameras (one fixed global-shutter
                      | camera and one for navigation) and a huge range of
                      | sensors. The camera can be switched for more mission-specific
                      | payloads such as multispectral sensors or thermal vision devices.
                    p The operational scenarios covered by the X-5 are:
                    ul
                      li Photogrammetry mapping
                      li Surface composition analysis
                      li Search &amp; rescue missions
                    p
                      | The X-5 Drone will be tested by the crew 212 during the LATAM III
                      | mission at the MDRS.
                  .col-12.col-lg-6.col-pic
                    img.img-fluid(src=require('./assets/modello_drone.png'))
            .carousel-item
              .container
                .row
                  .col-12.col-lg-6.col-text
                    p VESTA
                    p
                      | The project consists on testing possible mission scenarios
                      | for an unmanned aerial vehicle in the proximity of the MDRS,
                      | to evaluate its utility and the amount of crew involvement
                      | that would be required. A quadcopter will be used to
                      | perform multiple missions during EVAs, and the possibility
                      | of commanding the vehicle from inside the station will be
                      | evaluated. Focus will be given to navigation technologies,
                      | with the possibility of testing a system of beacons distributed
                      | around the station to allow the triangulation of the signal;
                      | this is due to the current absence of a global positioning
                      | system on Mars.
                    p
                      | Two different types of scenarios will be evaluated: exploration
                      | and monitoring. In the first case, the drone is flying
                      | autonomously and it’s used by the crew from the inside of
                      | the station to take pictures of the surroundings. This
                      | enables the crew to acquire a general understanding of
                      | the environment around the station, and can also be used
                      | as a weathercasting system for sandstorms. For monitoring
                      | missions, the drone looks back at the station and navigates
                      | autonomously to specific points of interest on the MDRS
                      | facilities and allows their observation by the crew.
                  .col-12.col-lg-6.col-pic
                    img.img-fluid(src=require('./assets/vesta.jpg'))
          a.carousel-control-prev.d-none.d-xl-flex(href='#research-carousel',
                                                   role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next.d-none.d-xl-flex(href='#research-carousel',
                                                   role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    .vertical-center.section#news-container
      .container
        h3.title News
        .row
          .col-12.col-lg-6
            .fb-page(data-href='https://www.facebook.com/DOMEoperations',
                data-tabs='timeline', data-small-header='false',
                data-adapt-container-width='true', data-width='500',
                data-hide-cover='false', data-show-facepile='true')
              blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/DOMEoperations')
                a(href='https://www.facebook.com/DOMEoperations')
                  | DOME - Drone Operations for Martian Environment
          .col-12.col-lg-6
            a.twitter-timeline(href='https://twitter.com/EprojectDom?ref_src=twsrc%5Etfw')
              | Tweets by EprojectDom
            script(async, src='https://platform.twitter.com/widgets.js', charset='utf-8')

    .vertical-center.section#partners-container
      .container
        h3.title Partners
        .row
          .col-4
            a(href='https://coompany.io', target='_blank', title='Coompany')
              img.img-fluid(src=require('./assets/coom.svg'), alt='Coompany')
        .row
          .col
            a(href='http://neutech.it', target='_blank', title='Neutech')
              img.img-fluid(src=require('./assets/neutech_logo.png'), alt='Neutech')
          .col
            a(href='http://www.iuav.it/SISTEMA-DE/Laboratori2/', target='_blank', title='IUAV')
              img.img-fluid(src=require('./assets/IUAV.svg'), alt='IUAV')
          .col
            a(href='https://airvision.it/', target='_blank', title='Airvision')
              img.img-fluid(src=require('./assets/airvision_logo.png'), alt='Airvision')
        .row
          .col-4
            a(href='https://www.marssociety.org/', target='_blank', title='Mars Society')
              img.img-fluid(src=require('./assets/Mars_society_logo.png'), alt='Mars Society')

    footer
      .container-fluid
        .row
          .col-12.col-md-6
            p
              | DOME Project<br />
              | via Pra' dei Roveri 2d<br />
              | 31021 Mogliano Veneto (TV)
            p &copy; 2018 Coompany s.r.l.s. Italy. All rights reserved.
          .col-12.col-md-6
            p: a(href='mailto:drone@domeproject.space', target='_blank')
              | drone@domeproject.space
            ul.list-unstyled
              li: a(href='https://www.facebook.com/DOMEoperations', target='_blank') Facebook
              li: a(href='https://twitter.com/EprojectDom', target='_blank') Twitter
